@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
    <div id="contact" class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-7 h-form">
            <div class="h-confirm"> 
                <h2>This is the messsage: @Model.Message</h2>
                <h4>This is name: @Model.name</h4><br />
                <h4>This is email: @Model.email</h4><br />
                <h4>This is subject: @Model.subject</h4><br />
                <h4>This is message: @Model.message</h4><br />
            </div>
               
            <form method="post">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" name="name" placeholder="Name" type="text" maxlength="100" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" name="email" placeholder="Email" maxlength="100" type="email" required>
                    </div>
                </div>
                @Html.Partial("_form")
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Send</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <div class="g-recaptcha" data-sitekey="6Ld-fREUAAAAAKI-zYhPKiAzdyvYqbuRpnqEgn4T"></div>
                        @Html.ValidationMessage("g-recaptcha")
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

